---
layout: page
permalink: /ml_resources/
title: ml study resources
description: this page is being updated actively with new resources for machine learning. 
nav: true
nav_order: 4
---
<p> 
  This page compiles a collection of high-quality and free resources on machine learning that I have curated from diverse sources. 
  It is my pleasure to share these resources with you, as they can offer valuable insights to anyone interested in this intriguing field. 
  It is important to note that I am not the author of any of the content on this page; 
  however, I have ensured that each resource is relevant, reliable, and informative. 
  Whether you are a novice or an experienced data scientist, I hope you will discover valuable materials here. 
  The list originally started as a <a href="https://github.com/mirerfangheibi/Machine-Learning-Resources">GitHub repository</a>
    , but I have developed this page to replace it to enhance readability. 
  Please check back regularly for newly added content. Moreover, if you have any suggestions for new resources, please do not hesitate to contact me.
  Let us explore the realm of machine learning together!</p>

<h2 id="Books"><i class="fa fa-book"></i> Books</h2>
<p>This section includes books that cover a wide range of topics in machine learning. 
  Some of these books are introductory, while others are more advanced. 
  I have also included books that are not directly related to machine learning but are still relevant to the field. 
  I have organized the books by their publication year, from newest to oldest. 
  I have also included the author(s) of each book, as well as the edition number, if applicable. 
  I have also included the front cover of each book, if available. 
  </p>
<div class="container text-center">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% assign sbooks = site.data.ml_resources_books | sort: "print_year" | reverse %}
    {% for book in sbooks %}
    <div class="col">
      <div class="card">
        {% if book.front_page%}
        <img src="{{book.front_page}}" class="card-img-top" alt="{{book.title}}">
        {% else %}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Front Cover Available!" preserveAspectRatio="xMidYMid slice" focusable="false"><title>No Front Cover Available!</title>
          <rect class="media-not-found" width="100%" height="100%" rx="5" ry="5"></rect>
        <text class="media-not-found-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">No Front Cover Available!</text>
        </svg>
        {% endif %}
        <div class="card-body shadow-sm">
          <h5 class="card-title">{{book.title}}</h5>
        </div>
        <ul class="list-group">
          {% if book.book_author%}
          <li class="list-group-item"><b>Author(s):</b> {{book.book_author}}</li>
          {% endif %}
          {% if book.edition%}
          <li class="list-group-item"><b>Edition:</b> {{book.edition}}</li>
          {% endif %}
          {% if book.print_year%}
          <li class="list-group-item"><b>Year:</b> {{book.print_year}}</li>
          {% endif %}
          {% if book.publisher%}
          <li class="list-group-item"><b>Publisher:</b> {{book.publisher}}</li>
          {% endif %}
          {% if book.description%}
          <div class="collapse" id="description_collapse_{{forloop.index}}">
            <div>
            <p style="font-size: 0.875rem; text-align: 
            justify; padding: 10px;">
              <b>Desription:</b> {{book.description}}
            </p>
          </div>
          </div>
        {% endif %}
        {% if book.personal_notes%}
          <div class="collapse" id="notes_collapse_{{forloop.index}}">
            <div>
            <p style="font-size: 0.875rem; text-align: 
            justify; padding: 10px;">
              <b>Personal Notes:</b> {{book.personal_notes}}
            </p>
          </div>
          </div>
        {% endif %}
        </ul>
        <div class="card-body">
          {% if book.description %}
          <a class="btn btn-sm z-depth-0" role="button" data-toggle="collapse" href="#description_collapse_{{forloop.index}}" aria-expanded="false" aria-controls="description_collapse_{{forloop.index}}">Description</a>
          {% endif %}
          {% if book.personal_notes %}
          <a class="btn btn-sm z-depth-0" role="button" data-toggle="collapse" href="#notes_collapse_{{forloop.index}}" aria-expanded="false" aria-controls="#notes_collapse_{{forloop.index}}">Personal Notes</a>
          {% endif %}
          <a href="{{book.book_url}}" class="btn btn-sm z-depth-0" role="button"> Book Website</a>
          {% if book.supp_material %}
          {% for material in book.supp_material %}
          <a href="{{material}}" class="btn btn-sm z-depth-0" role="button">Supp. Material {{forloop.index}}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
<h2 id="Courses"><i class="fab fa-youtube-square"></i> Courses</h2>
<p> this part is being constructed</p>
<!-- <h2><i class="ai ai-arxiv-square"></i> Papers and</h2> -->
<!-- <p>This part is more of a personal reading list</p>
<ul class="list-group">
{% assign spapers = site.data.ml_resources_papers | sort: "year" | reverse %}
{% for paper in spapers %}
<li>{{paper.author}}. <a href="{{paper.url}}"><b>{{paper.title}}</b></a>. <em>{{paper.year}}</em></li>
{% endfor %}
</ul> -->

<!-- <h2><i class="fa fa-university"></i> Theses</h2>
<h2><i class="fab fa-github-square"></i> Repositorites</h2> -->
<!-- <p>TBD</p> -->